
body{
background: #56CCF2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}



#container{
	margin: 100px auto;
	width: 500px;
	background: #f7f7f7;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	font-family: Roboto;
}

h1{
	background: #2980b9;
	color: white;
	margin: 0;
	padding: 3px 20px;
	text-transform: uppercase;
	font-weight: 100;
	font-size: 24px;
	height: 45px;
	line-height: 45px;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

li{
	background: #fff;
	height: 40px;
	line-height: 40px;
	color: #666;
}

li:nth-child(2n){
	background: #f7f7f7;
}

input{
	background-color: #f7f7f7;
	width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	font-size: 18px;
	color: #666;
	border: 3px solid rgba(0, 0, 0, 0);
}

input:focus{
	background: #fff;
	border: 2px solid #2980b9;
	outline: none;
}

.fa-plus, .fa-archive{
	float: right;
	line-height: 45px;
	margin-top: 13px;
}

span{
	background: #e74c3c;
	height: 40px;
	width: 0;
	text-align: center;
	color: white;
	display: inline-block;
	transition: 0.3s;
	opacity: 0;

}


#li{
	padding-left: 20px;
}

li:hover span{
	width: 40px;
	opacity: 1;
}